body{
    background: #e9f2ed;
}

.navbar{
    background:#e9f2ed;
    height: 40px;

}

.nav-link{
    color: #194D25;
    font-weight: 500;
}

.navbar-brand{
    color: #194D25;
    font-weight: 500;
}

.jumbotron{
    width: 100%;
    margin: 0px;
    padding: 70px 100px;
    height: 400px;
    background: linear-gradient(135deg, #669933 0%, #66CCCC 100%);
    color: white;
    border-radius: 0px;
}

.jumbotron-title{
    font-size: 100px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    letter-spacing: 2px;
}

.jumbotron-body{
    font-family: Microsoft YaHei;
    letter-spacing: 1px;
    line-height: 120%;
    font-size:20px;
    margin:10px;
}

.layout{
    width: 78%;
    background: #f0faf4;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.layout .card{
    height: 400px;
    background: #FFFFFF;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.layout .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 7px 15px rgba(102, 204, 204, 0.25);
    cursor: pointer;
    text-decoration: none;
    background: #dbf9ff;
}

.layout .card0:hover{
    transform: translateY(0px);
    background: #FFFFFF;
}


.layout .card:active{
    transform: translateY(-5px);
    transition: transform 0.1s;
}

.layout .card0{
    grid-column: 1/3;
    overflow: hidden;
    padding: 0px;
    background: #FFFFFF;

}

.card-pic{
    width: 126px;
    height: 184px;
    margin: auto;
}


.card0 .card-pic{
    width: 100%;
    height:auto;
}


.card-body{
    text-align:justify;
    letter-spacing: 0.1px;
    line-height: 1.5;
    color: #C0C0C0;
    font-size:14px;
    font-weight: 500;
}

.card-title{
    color: #696969;
    text-align: center;
    font-size:23px;
    font-weight: bold;
    letter-spacing: 1.5px;

}


/* 底部信息 */
footer {
    text-align: center;
    margin-top: 40px;
    color: #718096;
    font-size: 14px;
    padding: 20px;
}
